<h2>{{ idea.idea_text }}</h2>
<h3>by {{ idea.user }}</h3>

<p>{{ idea.votes }} votes</p>

<ul>
	<li><a href="{% url 'ideas:upvote' idea.id %}">Upvote</a></li>
	<li><a href="{% url 'ideas:downvote' idea.id %}">Downvote</a></li>
	<li><a href="{% url 'ideas:change_idea' idea.id %}">Change idea</a></li>
	<li><a href="{% url 'ideas:delete_idea' idea.id %}">Delete idea</a></li>
	<li><a href="{% url 'ideas:share_idea' idea.id %}">Share idea</a></li>
</ul>
<h2>Current user - {{ user.username }}</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
